/* takes content size, padding, and border into account when determing size of content */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: black;
  background-color: white;
}

/* remove margins on typography to keep margins consistent */
h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;

 
}

.book {
  display: grid;
  grid-template-columns: 1rem 8rem;

  grid-template-areas:
  "spine cover"
  "footer footer";
  margin: 0.2rem;
}

.title{
  grid-area: cover;
  height: 7rem;
  background-color: lightgreen;
  text-align: center;
  padding: 1rem;
  font-size: 1.3rem;
  border: 1px solid black;
}

.book:nth-of-type(even) .title{
  background-color: lightblue;
}

.spine{
  grid-area: spine;
  background-color: #4A4238;
  border-top-left-radius: 0.3rem;
}

.book:nth-of-type(even) .spine{
  background-color: #E1B07E;
}

.footer{
  grid-area: footer;
  padding:0.2rem;
  background-color: lightgrey;
  border-bottom-left-radius: 0.3rem;
}